body {
    background-color: white;
}
.container{
    width: 90vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: 300px;
    background-color:turquoise;
    margin: 15px 0;
    font-size: 20px;
    font-family: Caveat Brush;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    color: black;
    box-shadow: 5px 5px 15px grey;
    transition: 0.3s;
}