:root {
  --bg: #ffffff;
  --text: #000000;
  --card-bg: #f0f0f0;
}


body.dark {
  --bg: #000000;
  --text: #ffffff;
  --card-bg: #222222;
}


body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial;
  margin: 0;
  padding: 0;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: var(--card-bg);
}


.search-bar input {
  padding: 5px 10px;
  width: 200px;
  font-size: 16px;
}


.genre-buttons button {
  margin: 5px;
  padding: 8px 15px;
  background: var(--card-bg);
  border: 1px solid var(--text);
  cursor: pointer;
  font-size: 14px;
}


#toggleMode {
  padding: 8px 15px;
  border: 1px solid var(--text);
  cursor: pointer;
  background: var(--card-bg);
}


.container {
  width: 95%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.card {
  width: 180px;
  padding: 15px;
  background: var(--card-bg);
  color: var(--text);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.2s;
}


.card:hover {
  transform: scale(1.05);
}


.card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}


.btn-add {
  margin-top: 10px;
  padding: 5px 12px;
  background: #1db954;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.add-song {
  width: 300px;
  margin: 30px auto;
  padding: 15px;
  background: var(--card-bg);
  border-radius: 10px;
  text-align: center;
}


.add-song input {
  width: 80%;
  padding: 5px;
  margin: 5px 0;
}


.add-song button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #3333ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
