:root {
  --black: #000000;
  --white: #ffffff;
  --primary: var(--black);
  --secondary: var(--white);
}
.dark{
  --primary: var(--black);
  --secondary: var(--white);
}
.light{
--primary: var(--white);
  --secondary: var(--black);
}

.Title{
    font-size: 40px;
    font-style: Caveat Brush;
    text-align: center;
    width: 500px;
    margin: 25px auto;
    border-radius: 15px;
}
button {
  background-color: var(--primary-color);
}
.container{
    width: 90vw;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 15%;
    height: 300px;
    margin: 15px 0;
    font-size: 20px;
    font-family: Caveat Brush;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 15px ;
    transition: 0.3s;
}
.card img{
  max-width: 100px;
  height: auto;
}
