:root {
--black: #000000;
--white: #ffffff;
--primary: var(--black);
--secondary: var(--white);
}
.dark {
--primary: var(--black);
--secondary: var(--white);
}
.light {
--primary: var(--white);
--secondary: var(--black);
}
body {
background-color: var(--secondary);
color: var(--primary);
font-family: 'Caveat Brush', cursive;
}
.Title {
font-size: 40px;
text-align: center;
width: 500px;
margin: 25px auto;
border-radius: 15px;
}
button {
background-color: var(--primary);
color: var(--secondary);
border: none;
padding: 5px 10px;
border-radius: 5px;
cursor: pointer;
margin: 5px;
}
.container {
width: 90vw;
margin: 30px auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}
.card {
width: 15%;
height: 300px;
margin: 15px 0;
font-size: 20px;
text-align: center;
padding: 10px;
color: var(--secondary);
background-color: var(--primary);
border-radius: 5px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
transition: all 0.3s ease;
}
.card img {
max-width: 100px;
height: auto;
}
